<div class="container-fluid">
  <wave-spinner ng-if="vm.loading"></wave-spinner>
  <div flash-message="5000" ></div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div ng-if="!vm.loading" class="table-responsive">
        <h5 class="text-left"> Create, edit and delete entries by clicking on the elements in the table below</h5>
        <hr>
        <div class ="well clearfix">
          <form class="form-inline pull-left">
            <div class="form-group">
              <input type="text" ng-model="vm.q" class="form-control" placeholder="Search">
              <label>&nbsp; &nbsp; &nbsp; Items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="vm.pageSize">
            </div>
          </form>
          <button class="btn btn-success pull-right" ng-click="vm.create()">
            <i class="fa fa-pencil"></i>&nbsp; Create New!
          </button>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Id</a></th>
              <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Event</a></th>
              <th><a href="" ng-click="orderByField='model_type'; reverseSort = !reverseSort">Type</a></th>
              <th><a href="" ng-click="orderByField='createdAt'; reverseSort = !reverseSort">Date created</a></th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody dir-paginate="event in vm.events | filter:vm.q | orderBy:orderByField:reverseSort
          | itemsPerPage:vm.pageSize" ng-click="vm.show(event)">
          <tr>
            <td>{{event.id}}</td>
            <td>{{event.name}}</td>
            <td>{{event.model_type}}</td>
            <td>{{event.createdAt | date : 'd/M/yy h:mm a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" ng-click="vm.edit()">
                <i class="fa fa-pencil"></i>&nbsp; Edit
              </button>
              <button class="btn btn-sm btn-danger" ng-click="vm.delete(event)">
                <i class="fa fa-trash-o"></i>&nbsp; Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-controller=" vm.pageCtrl">
      <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-2"></div>
</div>

